absl-py==1.4.0
adagio==0.2.4
affine==2.4.0
aiofiles==24.1.0
aioftp==0.22.3
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.20.0
altair==4.2.2
annotated-types==0.5.0
ansi2html==1.8.0
anyio==3.6.2
anytree==2.12.1
appdirs==1.4.4
apturl==0.5.2
argcomplete==3.5.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array_record==0.5.1
arrow==1.2.3
astropy==6.0.0
astropy-iers-data==0.2024.1.22.0.30.30
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
av==10.0.0
Babel==2.15.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.0
beniget==0.4.1
bleach==6.0.0
blinker==1.4
blis==0.7.10
boto3==1.35.63
botocore==1.35.63
branca==0.7.2
Brlapi==0.8.3
Brotli==1.1.0
cachetools==5.5.1
catalogue==2.0.9
catboost==1.1.1
category-encoders==2.6.0
certifi==2024.12.14
cffi==1.15.1
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.4.1
chart-studio==1.1.0
ci-info==0.3.0
clarabel==0.9.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==2.2.1
cmake==3.27.4.1
cmdstanpy==1.2.4
colorama==0.4.4
coloredlogs==15.0.1
colour==0.1.5
comm==0.1.3
command-not-found==0.3
community==1.0.0b1
confection==0.1.3
configobj==5.0.8
configparser==6.0.0
convertdate==2.4.0
coreforecast==0.0.10
crashtest==0.3.1
cryptography==43.0.3
cuda-bindings==12.8.0
cuda-python==12.8.0
cupshelpers==1.0
cvxpy==1.5.1
cycler==0.11.0
cymem==2.0.8
Cython==0.29.34
dacite==1.7.0
dash==2.9.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2024.7.0
dask-expr==1.1.7
dataclasses-json==0.6.7
datasetsforecast==0.0.8
dbus-python==1.2.18
deap==1.3.3
debugpy==1.6.6
decorator==5.1.1
deepmerge==1.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
distlib==0.3.4
distributed==2024.7.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
dm-tree==0.1.8
dnspython==2.1.0
docopt==0.6.2
docstring_parser==0.16
dtreeviz==2.2.2
duplicity==0.8.21
ecos==2.0.13
eli5==0.13.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
etelemetry==0.3.0
etils==1.10.0
exceptiongroup==1.1.3
executing==1.2.0
faiss-cpu==1.8.0.post1
fasteners==0.14.1
fastjsonschema==2.16.3
fiftyone==1.0.2
fiftyone-brain==0.17.0
fiftyone-db==1.1.7
filelock==3.12.2
Fiona==1.9.4.post1
fitz==0.0.1.dev2
Flask==2.2.3
flatbuffers==23.3.3
folium==0.16.0
fonttools==4.29.1
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.6.1
ftfy==6.3.1
fugue==0.9.1
future==0.18.2
gast==0.4.0
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.1
gevent==24.11.1
geventhttpclient==2.3.3
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
google-api-core==2.24.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-cloud-vision==3.4.4
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
graphql-core==3.2.5
graphviz==0.20.1
greenlet==3.1.1
grpcio==1.67.1
grpcio-status==1.58.0
h11==0.14.0
h2==4.1.0
h5py==3.8.0
hierarchicalforecast==0.4.1
hijri-converter==2.2.4
holidays==0.21.13
hpack==4.0.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.20.2
httpstan==4.12.0
httpx==0.27.0
huggingface-hub==0.29.2
humanfriendly==10.0
humanize==4.11.0
Hypercorn==0.17.3
hyperframe==6.0.1
identify==2.6.2
idna==3.10
ImageHash==4.3.1
imageio==2.27.0
imbalanced-learn==0.10.1
imgsize==2.1
immutabledict==4.2.1
importlib-metadata==6.5.0
importlib_resources==6.4.5
imutils==0.5.4
inflate64==1.0.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpickle==3.3.0
jsonpointer==2.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-lsp==2.2.5
jupyter_ai==2.18.1
jupyter_ai_magics==2.18.1
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==4.2.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.27.2
kaggle==1.7.4.2
kagglehub==0.3.10
kaleido==0.2.1
keras==2.12.0
keras-tuner==1.4.7
keyring==23.5.0
kiwisolver==1.3.2
korean-lunar-calendar==0.3.1
kt-legacy==1.0.5
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langcodes==3.3.0
langsmith==0.1.83
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
lazypredict==0.2.12
libclang==16.0.0
lightgbm==3.3.5
lit==16.0.6
llvmlite==0.39.1
locket==1.0.0
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
LunarCalendar==0.0.9
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.21.2
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.0.4
mlxtend==0.23.1
mongoengine==0.24.2
monotonic==1.6
more-itertools==8.10.0
motor==3.5.3
mpmath==0.0.0
msgpack==1.0.8
multidict==6.0.4
multimethod==1.12
multiprocess==0.70.14
multivolumefile==0.2.3
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.9.1
nodeenv==1.9.1
notebook==6.5.3
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.1.23
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvidia-tensorrt==99.0.0
oauthlib==3.2.0
olefile==0.46
onnxruntime==1.17.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.10.6
osqp==0.6.7
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.0
paramiko==2.9.3
parfive==2.0.2
parso==0.8.3
partd==1.4.2
pastel==0.2.1
path==16.7.1
pathlib==1.0.1
pathy==0.10.2
patsy==0.5.3
pdf2image==1.16.3
pdfminer.six==20221105
pexpect==4.8.0
pgmpy==0.1.25
phik==0.12.4
phonenumbers==8.13.20
pickle4==0.0.1
pickle5==0.0.11
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.13
platformdirs==2.6.2
plotly==5.13.1
plotly-resampler==0.8.3.2
pluggy==1.3.0
ply==3.11
pmdarima==2.0.3
pooch==1.8.1
pprintpp==0.4.0
pre_commit==4.0.1
preshed==3.0.9
priority==2.0.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
prophet==1.1.2
proto-plus==1.25.0
protobuf==5.29.3
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
prov==2.0.0
psutil==5.9.4
ptyprocess==0.7.0
pulearn==0.0.8
pure-eval==0.2.2
py==1.10.0
py-cpuinfo==9.0.0
py7zr==0.22.0
pyarrow==12.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybcj==1.0.2
pybind11==2.13.1
pycairo==1.20.1
pycaret==3.0.0
pycocotools==2.0.8
pycparser==2.21
pycryptodomex==3.21.0
pycups==2.0.1
pydantic==2.3.0
pydantic_core==2.6.3
pydash==8.0.4
pydeck==0.8.1b0
pydicom==3.0.1
pydot==1.4.2
pyerfa==2.0.1.1
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.3.0
pylev==1.4.0
pymacaroons==0.13.0
PyMatting==1.1.12
PyMeeus==0.5.12
pymongo==4.8.0
Pympler==1.0.1
PyMuPDF==1.22.5
PyNaCl==1.5.0
pyod==1.0.9
pyOpenSSL==24.2.1
pyparsing==2.4.7
pyppmd==1.1.0
pyproj==3.6.0
pyRFC3339==1.1
pyrsistent==0.19.3
pysimdjson==6.0.2
PySocks==1.7.1
pystan==3.9.1
pytesseract==0.3.10
pytest==7.4.2
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-gnupg==0.4.8
python-json-logger==2.0.7
python-louvain==0.16
python-magic==0.4.24
python-rapidjson==1.20
python-slugify==8.0.4
pythondialog==3.5.1
pythran==0.10.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyvips==2.2.1
pyvis==0.3.2
PyWavelets==1.4.1
pyxdg==0.27
pyxnat==1.6
PyYAML==5.4.1
pyzmq==25.0.2
pyzstd==0.16.2
qdldl==0.1.7.post2
quadprog==0.1.12
rarfile==4.2
rasterio==1.3.8
rdflib==7.0.0
referencing==0.35.1
regex==2024.11.6
rembg==2.0.56
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rpds-py==0.18.1
rsa==4.9
s3cmd==2.2.0
s3transfer==0.10.3
safetensors==0.5.3
SCALECAST==0.18.1
schemdraw==0.16
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.8.0
scs==3.2.4.post2
SE==2.3
seaborn==0.12.2
SecretStorage==3.3.1
selenium==4.17.2
Send2Trash==1.8.0
setuptools-git==1.2
shap==0.43.0
shapely==2.0.1
simple-parsing==0.1.6
simplejson==3.19.1
six==1.16.0
sklearn==0.0.post1
sklearn-genetic==0.5.1
sklearn-genetic-opt==0.10.1
sktime==0.17.1
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
split-folders==0.5.1
SQLAlchemy==2.0.31
srsly==2.4.7
sse-starlette==0.10.3
sseclient-py==1.8.0
stack-data==0.6.2
stanio==0.5.0
starlette==0.41.2
statsforecast==1.7.5
statsmodels==0.13.5
stow==1.2.2
strawberry-graphql==0.248.1
streamlit==1.22.0
streamlit_folium==0.20.0
sunpy==5.1.1
sympy==1.9
systemd-python==234
tabula==1.0.5
tabulate==0.9.0
taskgroup==0.0.0a4
tbats==1.1.3
tblib==3.0.0
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.9.7
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.16.1
tensorrt==8.6.1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.2.0
terminado==0.17.1
testpath==0.5.0
text-unidecode==1.3
texttable==1.7.0
thinc==8.1.12
threadpoolctl==3.1.0
tifffile==2023.7.10
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2
torchviz==0.0.3
tornado==6.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
traits==6.3.2
transformers==4.49.0
triad==0.9.8
trio==0.24.0
trio-websocket==0.11.1
triton==2.0.0
tritonclient==2.53.0
typeguard==4.3.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ultralytics==8.3.79
ultralytics-thop==2.0.14
unattended-upgrades==0.1
unicodedata2==14.0.0
universal-analytics-python3==1.1.1
uri-template==1.2.0
urllib3==2.3.0
usb-creator==0.3.7
utilsforecast==0.1.12
validators==0.20.0
vboxapi==1.0
virtualenv==20.13.0+ds
visions==0.7.6
voxel51-eta==0.13.0
wadllib==1.3.6
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
webargs==8.4.0
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.7
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.0.3
xdg==5
xgboost==1.7.5
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.14.2
xxhash==3.2.0
xyzservices==2024.4.0
yarg==0.1.9
yarl==1.9.4
ydata-profiling==4.9.0
yellowbrick==1.5
zict==3.0.0
zipp==1.0.0
zope.event==5.0
zope.interface==7.2
